html {
  background-color: #cccccc;
}

.Map {
  width: 100%;
  max-height: 1000px;
  margin: 0px;
  background-color: green;
}

.nav-icon {
  padding-right: 5px;
}

.navbar-title {
  color: white;
  margin: 0px;
  font-size: 21px;
  text-decoration: underline;
  display:none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.915);
    overflow-y: hidden;
    transition: 0.5s;
}

.navbar {
  z-index: 2;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-break {
  width: 80%;
  background-color: white;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 736px) {
  .overlay {overflow-y: auto;}
  .navbar-title {
    display: block;
  }
  .Map {
    height: 618px;
  }
}
