/* This is styles for the map */
/* 100vh = 100% */

/* These are the scaled down res of an iphone 8 - 1334 x 750 */
.Container-Map-SI {
  width: 375px;
  height: 667px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  /* Background color is for testing the size of each div*/
}

.Container-Map {
  width: 375px;
  height: 334px;
  background-color: black;
  position: absolute;
  top: 0;
}

.Container-SI {
  width: 375px;
  height: 333px;
  background-color: black;
  position: absolute;
  bottom: 0;
}


  .Map {
    width: 375px;
    height: 334px;
  }


  /* The slider itself */
  .slider {
      -webkit-appearance: slider-vertical;  /* Override default CSS styles */
      appearance: none;
      height: 100vh; /* Specified height */
      background: #d3d3d3; /* Grey background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
      float: right;
  }

  /* Mouse-over effects */
  .slider:hover {
      opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
      -webkit-appearance: slider-vertical;  /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #4CAF50; /* Green background */
      cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
