/* CSS for Beacon -> index.php */

/* These are the scaled down res of an iphone 8 - 1334 x 750                           */
/* These width and height values "SHOULD" be the only hard set width and height values */
/* But they aren't because Im a shitty programer                                       */
#Container-Map-SI {
  width: 375px;
  height: 667px;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
}

/* Container for the map should:                       */
/* Fill the whole width of the parent container        */
/* Fill (65%) of the height of the parent container    */
/* Be positioned at the top of the parent container    */
#Container-Map {
  width: 100%;
  height: 65%;
  background-color: gray;
  position: absolute;
  top: 0;
}

/* Map should take up the whole map container */
.Map {
  width: 100%;
  height: 100%;
}

/* Container for the summary infromation should:       */
/* Fill the whole width of the parent container        */
/* Fill (35%) of the height of the parent container    */
/* Be positioned at the bottom of the parent container */
#Container-SI {
  width: 100%;
  height: 35%;
  background-color: gray;
  position: absolute;
  bottom: 0;
}

/* Scrollable-Box should fill the whole container                          */
/* overflow hidden is the key to making a scrollable text area             */
/* I think                                                                 */
/* I could be wrong because I just copied the code and learned it that way */
#Scrollable-Box {
  width: 100%;
  height: 100%;
  background-color: gray;
  color: white;
  overflow: hidden;
}

/* Refers to - wait for it - the content in the Scrollable-Box         */
/* Again should fill the whole area of the parent                      */
/* This is all faked - The padding right actually hides the scroll bar */
/* Go ahead - remove it and see shitty programing for your self        */
#Scrollable-Box .content {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 15px;
}

/* Gets rid of the margins for all of the content */
#contentSection * {
  margin: 0px;
}

/* This is for the indivisual container that holds game store SI */
/* This should fill the full width but only 100px of height      */
.gameStore-SI {
  height:100px;
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
}

/* This item should stick to the left of the parent container */
/* Hence - "float: left"                                      */
/* Should be 100x100 with some padding to the right           */
.storeImageContainer {
  float: left;
  height: 100px;
  width: 100px;
  padding-right: 10px;
}

/* This is the image that fills the storeImageContainer area */
/* Should fill the fill parent container                     */
.storeImage {
  height: 100%;
  width: 100%;
}

/* This is the container for all of the text in the SI area */
/* It is displayed to the right of the image container      */
/* Because of the "display: inline-block"                   */
/* displays like | DIV1 | DIV2 |                            */
.TextContainer {
  width: 241px;
  height: 95px;
  display: inline-block;
}

/* holds/displays the name of the store              */
/* Fills the full width and only as high as the text */
.storeNameContainer {
  height: 22px;
  width: 100%;
  background: green;
  text-align: center;
}

/* holds/displays the address of the store           */
/* Fills the full width and only as high as the text */
.storeAddressContainer {
  width: 100%;
  height: 22px;
  background: red;
  text-align: center;
}

/* infromation displayed to the left of the text box */
.PlayerInfrormation1 {
  width: 50%;
  height: 22px;
  float: left;
  background: orange;
  text-align: center;
}

/* infromation displayed to the right of the text box */
.PlayerInfrormation2 {
  width: 50%;
  height: 22px;
  float: right;
  background: blue;
  text-align: center;
}
