/* This is styles for the map */
/* 100vh = 100% */

#Scrollable-Box {
  width: 100%;
  height: 100%;
  background-color: gray;
  color: white;
  overflow: hidden;
}

#Scrollable-Box .content {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-left: 30px;
}


/* These are the scaled down res of an iphone 8 - 1334 x 750 */
#Container-Map-SI {
  width: 375px;
  height: 667px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  /* Background color is for testing the size of each div*/
}

#Container-Map {
  width: 375px;
  height: 334px;
  background-color: black;
  position: absolute;
  top: 0;
}

#Container-SI {
  width: 375px;
  height: 333px;
  background-color: gray;
  position: absolute;
  bottom: 0;

}

  .Map {
    width: 375px;
    height: 334px;
  }
