html {
  height:100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #c5c6c7;
  height: 92%;
  margin: 0;
}

.PlayerInformation {
  height: 50%;
  width: 100%;
}

.SIBreak {

}

.DPspacer {
  float: right;
  width: 40%;
}

.phoneNumber {
  float: right;
  width: 40%;
}

.miles {
  float: right;
  width: 40%;
  color: black;
}

#userLocation {
  visibility: hidden;
  display: none;
}

.SIBreak {
  width: 100%;

}

.address {
  float: left;
  max-width: 60%;
}

.headerInformation a {
  color: black;
}

.headerInformation {
  width: 75%;
  float: right;
  text-align: center;
}

.SIHeader {
  width: 100%;
  height: 50%;
  top: 0;
  padding-top: 5px;
  box-sizing: border-box;
}

.GSSIlogoBox {
  max-height: 100px;
  max-width: 100px;
  height: 100%;
  width: 25%;
  float: left;
}

.GSSIlogo {
  height: 100%;
  width: 100%;
}

.storeName {
  width: 75% ;
  float: right;
}

.storeName .gameStoreName {
  font-size:26px;
  text-align: center;
  color: black;
}


#container-tab {
  height: 100%;
  width: 20%;
  float: right;

}

#container-tab1 {
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}

#container-tab1 .content {
  background-color: #c5c6c7;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 8px;
  overflow: scroll;
  overflow-x: hidden;
}

#container-tab1 * {
  margin: 0px;
}

.tab {
  height:25%;
  min-height: 200px;
  width: 100%;
  background-color: #ffbf84;
  border: 1px;
  border-style: solid;
}

/*     */
.logoContainer{
  display: inline-block;
  bottom: 0;
  position: relative;
  height: 36px;
  width: 36px;
}

.logo {
  height: 36px;
  width: 36px;
}

.settingsContainer {
  height:36px;
  float: right;
}

#threeLines {
  height: 36px;
  width: 36px;
  padding: 0;
  margin: 0;
}

.Map {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.option {
  display: inline-block;
  margin: auto;
}

.header{
  height: auto;
	background-color:#1f2833;
}

.header a {
  color:#66fcf1;
  text-decoration: none;
  font-size:32px;
}

.container {
  width:80%;
	margin:auto;
	overflow:hidden;
}

.container-map {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #1f2833;
}

.nav {
  text-align: justify;
  background-color: #c5c6c7
}

.nav ul {
	padding:0;
  margin: 0;
	list-style: none;
}

.nav li {
	display:inline;.
}

.nav li a:hover {
    background-color: #66fcf1;
    color: #000000;
}

.nav a {
  color:#ffffff;
  text-decoration: none;
  font-size:18px;
  padding-right:5px;
  padding-left:5px;
}



















/**/
