html {
  background-color: #cccccc;
  overflow: hidden;
}


.respond {
  margin-bottom: 5px; 
}


.beaconBox {
  border: 2px #66fcf1 solid;
  margin-top: 2px;
  margin-bottom: 2px;
}

.description {
  margin: 2px;
  width: 95%;
}

.beaconSummaryBox {
  border: 1px solid black;
  width: 99%;
  margin: auto;
}

.tag {
  min-width: 75px;
  margin: auto;
}

.tagTab {
  margin: auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.game {
  margin: 0px;
}

.respondingPlayers {
  display: none;
}

.box-container {
    width:100%;
    margin: auto;
    height: 24px;
}

.icon-box {
    width:33%;
    display:inline;
    float:left;
    margin: auto;
}

.time {
  display: inline;
}

.playername {
  display: inline;
}

.beaconPlayerCount {
  display: inline;
}

.beaconStorePageSI {
  width: 95%;
  margin: auto;
  background-color: #666666;
}

.storeSIBreak {
  background-color: white;
  width: 95%;
  margin: 0px;
  margin: auto;
  margin-bottom: 2px;
}

.sorter {
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0px;
}

.buttonBreak {
  background-color: white;
  width: 95%;
  margin: auto;
  margin-top: 6px;
}

.siButtons {
  padding-top: 4px;
  padding-bottom: 2px;
  width:95%;
  margin: auto;
}

.phone {
  font-size: 16px;
  margin: 0px;
}

.headerBreak {
  background-color: white;
  width: 95%;
  margin-bottom: 2px;
}

.si-Store-Header {
  display: block
  width: 95%;
  margin: auto;
  min-height: 52px;
  margin-top: 5px;
}

.si-Store-Header .storeName {
  color: White;
  text-decoration: none;
  font-size: 24px;
}

.si-Store-Header hr {
  padding: 0px;
  margin: auto;
  width: 95%;
  background-color: white;
}

.si-Store-Header .directions {
  display: inline-block;
  width: 50%;
  font-size: 18px;
  float: left;
  text-decoration: underline;
  color: white;
}

.si-Store-Header .distance {
  display: inline-block;
  width: 50%;
  font-size: 18px;
  float: right;
}

.wraper {
  display: flex;
  flex-wrap: wrap;
}

.siItem {
    width: 95%;
    min-height: 75px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    background-color: #999999;
}

.pageContent {
  background-color: #888888;
  max-height: 677px;
  overflow: scroll;
  color: white;
  text-align: center;
}

.si {
  background-color: rgba(0,0,0, 0.9);
  min-height: 206px;
  max-height: 206px;
  display: none;
  overflow: auto;
  overflow-x: hidden;
}

.si p {
  padding: 0px;
  margin: 0px;
  color: white;
}

.tableStores {
  display: none;
  height: 100%;
  transition: 0.5s;
}

.tableBeacons {
  display: none;
  min-height: 100%;
  min-width: 100%;
}

.tableEvents {
  display: none;
  min-height: 100%;
  min-width: 100%;
}

.footer {
  background-color: black;
  width: 100%;
  height: 59px;
  transition: 0.5s;
  position: fixed;
  bottom: 0;
}

.btn-group {
  width:100%;
}

.btn {
  width: 34%;
  height: 59px;
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  line-height: 59px;
  text-align: center;
}

.Map {
  width: 100%;
  margin: 0px;
  min-height: 300px;
  transition: 0.5s;
}

.nav-icon {
  padding-right: 5px;
}

.navbar-title {
  color: white;
  margin: 0px;
  font-size: 21px;
  text-decoration: underline;
  display:none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.915);
    overflow-y: hidden;
    transition: 0.5s;
}

.navbar {
  z-index: 2;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-break {
  width: 80%;
  background-color: white;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* desktop */
@media screen and (min-width: 500px) {
  .overlay {overflow-y: auto;}
  .navbar-title {
    display: hidden;
  }
  .Map {
    height: 810px;
    max-height: 810px;
    min-height: 405px;
  }
  .si {
    min-height: 271px;
    max-height: 271px;
  }
  .pageContent {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 870px;
  }
}


/* iphone 6/7/8 plus */
@media screen and (max-width: 415px) {
  .overlay {overflow-y: auto;}
  .navbar-title {
    display: block;
  }
  .Map {
    height: 618px;
    max-height: 618px;
    min-height: 309px;
  }
}

/* iphone 6/7/8 */
@media screen and (max-width: 376px) {
  .overlay {overflow-y: auto;}
  .navbar-title {
    display: block;
  }
  .Map {
    height: 550px;
    max-height: 550px;
    min-height: 275px;
  }
  .si {
    min-height: 182px;
    max-height: 182px;
  }
  .pageContent {
    max-height: 608px;
  }
  .si-Store-Header .directions  {
    width:40%;
  }
  .si-Store-Header .distance  {
    width:60%;
  }
}

/* iphone 5/SE */
@media screen and (max-width: 321px) {
  .overlay {overflow-y: auto;}
  .navbar-title {
    display: block;
  }
  .Map {
    height: 450px;
    max-height: 450px;
    min-height: 225px;
  }
  .si {
    min-height: 150px;
    max-height: 150px;
  }
  .overlay a {
      font-size: 30px;
  }
  .pageContent {
    max-height: 509px;
  }
  .si-Store-Header .directions  {
    font-size: 16px;
  }
  .si-Store-Header .distance  {
    font-size: 16px;
  }
  .si-Store-Header {
    min-height: 45px;
  }
}

/* X */
@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {
      .overlay {overflow-y: auto;}
      .navbar-title {
        display: block;
      }
      .Map {
        height: 694px;
        max-height: 694px;
        min-height: 347px;
      }
      .si {
        min-height: 231px;
        max-height: 231px;
      }
      .pageContent {
        max-height: 753px;
      }
    }
