html {
  background-color: #cccccc;
  overflow: hidden;
}

.pageContent {
  background-color: #888888;
  max-height: 677px;
  overflow: scroll;
  color: white;
  text-align: center;
}

.si {
  background-color: rgba(0,0,0, 0.9);
  min-height: 206px;
  max-height: 206px;
  display: none;
  overflow: auto;
  overflow-x: hidden;
}

.si p {
  padding: 0px;
  margin: 0px;
  color: white;
}

.tableStores {
  display: none;
  height: 100%;
  min-width: 100%;
}

.tableBeacons {
  display: none;
  min-height: 100%;
  min-width: 100%;
}

.tableEvents {
  display: none;
  min-height: 100%;
  min-width: 100%;
}

.footer {
  background-color: black;
  width: 100%;
  height: 59px;
  transition: 0.5s;
  position: fixed;
  bottom: 0;
}

.btn-group {
  width:100%;
}

.btn {
  width: 34%;
  height: 59px;
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  line-height: 59px;
  text-align: center;
}

.Map {
  width: 100%;
  margin: 0px;
  min-height: 300px;
  transition: 0.5s;
}

.nav-icon {
  padding-right: 5px;
}

.navbar-title {
  color: white;
  margin: 0px;
  font-size: 21px;
  text-decoration: underline;
  display:none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.915);
    overflow-y: hidden;
    transition: 0.5s;
}

.navbar {
  z-index: 2;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-break {
  width: 80%;
  background-color: white;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* desktop */
@media screen and (min-width: 500px) {
  .overlay {overflow-y: auto;}
  .navbar-title {
    display: hidden;
  }
  .Map {
    height: 810px;
    max-height: 810px;
    min-height: 405px;
  }
  .si {
    min-height: 271px;
    max-height: 271px;
  }
  .pageContent {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 870px;
  }
}


/* iphone 6/7/8 plus */
@media screen and (max-width: 415px) {
  .overlay {overflow-y: auto;}
  .navbar-title {
    display: block;
  }
  .Map {
    height: 618px;
    max-height: 618px;
    min-height: 309px;
  }
}

/* iphone 6/7/8 */
@media screen and (max-width: 376px) {
  .overlay {overflow-y: auto;}
  .navbar-title {
    display: block;
  }
  .Map {
    height: 550px;
    max-height: 550px;
    min-height: 275px;
  }
  .si {
    min-height: 182px;
    max-height: 182px;
  }
  .pageContent {
    max-height: 608px;
  }
}

/* iphone 5/SE */
@media screen and (max-width: 321px) {
  .overlay {overflow-y: auto;}
  .navbar-title {
    display: block;
  }
  .Map {
    height: 450px;
    max-height: 450px;
    min-height: 225px;
  }
  .si {
    min-height: 150px;
    max-height: 150px;
  }
  .overlay a {
      font-size: 30px;
  }
  .pageContent {
    max-height: 509px;
  }
}

/* X */
@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {
      .overlay {overflow-y: auto;}
      .navbar-title {
        display: block;
      }
      .Map {
        height: 694px;
        max-height: 694px;
        min-height: 347px;
      }
      .si {
        min-height: 231px;
        max-height: 231px;
      }
      .pageContent {
        max-height: 753px;
      }
    }
